.appoint-history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  justify-items: center;
}

.appoint-history-card{
    margin-bottom: 2rem;
}

.user_table{
    margin-bottom: 5rem;
}